*{
    font-family: Arial;
}

body{
    margin: 0;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

/* Começo do header */
.header{
    width: 100%;
    height: 100px;
    background-color: black;
    border-bottom: solid aqua 3px;
    display: flex;
}

.logo{
    color: aqua;
}

.header .container{
    justify-content: space-between;
    align-items: center;
}

.header ul #aqui{
    font-weight: 1000;
    color: #32b9cd;
}

.navBar{
    width: 300px;
    display: flex;
    color: #bd9762;
    list-style: none;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: #bd9762;
}
/* fim do header */

/* Começo do banner */

.banner{
    background-image: url(../img/bg-jelly-fish-para_outras_pags.png);
    background-size: cover; 
    width: 100%;
    height: 520px;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}


.banner .container p{
    color: white;
    font-size: 25px;
    width: 200px;
}

.banner .container p span{
    font-weight: bold;
}

/* fim do banner */

/* Começo do Social */

.social{
    background-color: #cdcdcd;
}

.card img{
    width: 150px;
    height:150px;
}

.social .container{
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.card h4{
    color: #d7424d;
}

.card p{
    /* width: 100px; */
    text-align: center;
}